.content {
  margin-top: 40px;
  text-align: center;
}

.title {
  font-size: 70px;
  color: #f8430b;
  padding: 20px;
}


.content-image > img  {
  width: 100%;
}
.content-description {
  padding: 50px 0;
  text-align: justify;
  color: #f8430b;
  font-size: 30px;
  font-family: sans-serif;
}

.line-break {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color :#f8430b;
  margin: 20px 0;
}
